.custom-orders {
  max-width: 600px; /* Centering the form */
  margin: 2rem auto; /* Center the component */
  padding: 2rem;
  background-color: #fff; /* White background for the form */
  border-radius: 8px; /* Rounded corners */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Subtle shadow */
  font-family: Arial, sans-serif;
}

.custom-orders h2 {
  font-size: 2rem;
  color: #333;
  text-align: center;
}

form {
  margin-top: 1rem;
}

.form-group {
  margin-bottom: 1.5rem; /* Space between form elements */
}

label {
  display: block;
  margin-bottom: 0.5rem;
  font-weight: bold;
  color: #444;
}

input[type="email"],
input[type="text"],
textarea,
input[type="file"] {
  width: 100%; /* Full width */
  padding: 0.75rem; /* Increased padding */
  border: 1px solid #ddd;
  border-radius: 4px;
  transition: border-color 0.3s; /* Smooth transition on focus */
}

input[type="text"]:focus,
input[type="email"]:focus,
textarea:focus {
  border-color: #f00000; /* Highlight border on focus */
}

textarea {
  height: 150px;
}

button {
  background: linear-gradient(to bottom, #8B4513, #F5F5DC);
  color: #fff;
  border: none;
  padding: 0.75rem 1.5rem;
  font-size: 1rem;
  cursor: pointer;
  border-radius: 4px;
  text-transform: uppercase;
  width: 100%; /* Full width for button */
  transition: background-color 0.3s; /* Smooth transition */
}

button:hover {
  background: linear-gradient(to right, #A0522D, #EEE8AA); /* Darker on hover */
}

/* Modal Styles */
.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.6); /* Semi-transparent background */
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000; /* Ensure it appears above other content */
}

.modal-content {
  background-color: #fff;
  padding: 2rem;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  text-align: center;
}

.modal-content h3 {
  margin-bottom: 1rem;
}

.modal-content button {
  background-color: #f0a500;
  color: #fff;
  border: none;
  padding: 0.75rem 1.5rem;
  font-size: 1rem;
  cursor: pointer;
  border-radius: 4px;
}

/* Add responsiveness */
@media (max-width: 768px) {
  .custom-orders {
    padding: 1.5rem; /* Adjust padding for smaller screens */
  }
  
  input[type="text"],
  input[type="email"],
  textarea,
  button {
    width: 100%; /* Ensure full width */
  }
}
