.cart-container {
    padding: 2rem;
  }
  
  .cart-list {
    list-style: none;
    padding: 0;
  }
  
  .cart-item {
    display: flex;
    align-items: center;
    border-bottom: 1px solid #ddd;
    padding: 1rem 0;
  }
  
  .cart-item-image {
    width: 100px;
    margin-right: 1rem;
  }
  
  .cart-item-info {
    display: flex;
    flex-direction: column;
  }
  
  .cart-item-info h4 {
    margin: 0;
    font-size: 1.2rem;
  }
  
  .cart-item-info p {
    margin: 0.5rem 0;
  }
  